#content
{
	background: linear-gradient(180deg,#ece9e6, #ffffff);
	border-style: groove;
	border-color: #333;
	width: 50%;
	margin: 0 auto;
}

#header
{
	width: 100%;
	height: 10%;
	background: #333;
}

#title
{
	font-family: "Arial", Times, serif;
	font-size: 4vw;
	
	color: white;

	
	text-align: center;
	vertical-align: middle;
}

#menu
{
	position: fixed;
	
	border-style: groove;
	border-color: #333;
	
	margin-top: 5%;
	margin-left: 15%;
	width: 9%;
	height: 26%;
	
	background: linear-gradient(180deg,#ece9e6, #ffffff);	
}

#login
{
	position: fixed;
	
	border-style: groove;
	border-color: #333;
	
	margin-top: 5%;
	margin-left: 75%;
	width: 8%;
	height: 24%;
	
	padding: 2% 2%;
	
	background: linear-gradient(180deg,#ece9e6, #ffffff);
}

#logged
{
	position: fixed;
	
	border-style: groove;
	border-color: #333;
	
	margin-top: 5%;
	margin-left: 75%;
	width: 10%;
	height: 25%;
	
	text-align: center;
	background: linear-gradient(180deg,#ece9e6, #ffffff);
}

#author
{
	font-family: "Arial", Times, serif;
	font-size: 80%;
	color:white;
	
	position: fixed;
	bottom:0;
	right:0;
	float:right;
}

#sub-content
{
	overflow:scroll;
	height:80%;
	padding: 12px 20px;
}

#ToplistDIV
{
	display: flex;
    justify-content: center;
    align-items: center;
}

#ToplistTable
{
	background: linear-gradient(to bottom, #e6dada, #274046);;
	width: 85%;
	height: 85%;
	
	border: 4px solid black;
}


.menu-item
{
	background: linear-gradient(180deg,#000000, #53346d);

	font-family: "Arial", Times, serif;
	font-size: 1vw;
	
	display: flex;
    justify-content: center;
    align-items: center;
	
	height: 20%;
}

.menu-item:hover
{
	background: linear-gradient(90deg,#000000, #53346d);
}

.menu-item-p
{
	color: white;
	font-family: "Arial", Times, serif;
	font-size: 1vw;
}

.login-item-center
{
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: .85em;
}

.content-image
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	size:25%;
}

.oli
{
	line-height: 20%;
	font-family: "Arial", Times, serif;
	font-size: 1vw;
}

.loggeddiv
{
	height:20%;
	
	display: flex;
    justify-content: center;
    align-items: center;
}

.update
{
	border-bottom: 2px solid black;
}

.shop-item
{
	margin: 0 auto;
	border: 2px solid black;
	
	width:100%;
	height: 15%;
}

.shop-item-images
{
	width: 20%;
	height: 40%;
	padding-top: 1%;
	
	float: left;	
    border: 1px solid black;
	text-align:center;
}

.shop-item-image
{
	padding-top: 2%;
	text-align:center;
}

.shop-item-text
{
	padding-top: 2%;
}

.shop-item-selected
{
	width: 30%;
	height: 100%;
	border: 1px solid black;
	float: right;

	background: linear-gradient(to right, #606c88, #3f4c6b);

	font-family: "Arial", Times, serif;
	font-size: 1vw;
	
	display: flex;
    justify-content: center;
    align-items: center;
	
	width: 20%;
	height: 50%;	
	margin-top: 3%;
	margin-right: 9%;
}

.shop-item-buy
{
	width: 30%;
	height: 100%;
	border: 1px solid black;
	float: right;

	background: linear-gradient(180deg,#000000, #53346d);

	font-family: "Arial", Times, serif;
	font-size: 1vw;
	
	display: flex;
    justify-content: center;
    align-items: center;
	
	width: 20%;
	height: 50%;	
	margin-top: 3%;
	margin-right: 9%;
}

.shop-item-buy:hover
{
	background: linear-gradient(90deg,#000000, #53346d);
}

.shop-item-buy-p
{
	color: white;
	font-family: "Arial", Times, serif;
	font-size: 1vw;
}
	
	
input[type=password]
{
    width: 90%;
    padding: 12px 20px;
    margin: 4px 5%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	
	height:15%;
}

input[type=text]
{
    width: 90%;
    padding: 12px 20px;
    margin: 4px 5%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	
	height:15%;
}

input[type=submit]
{
    width: 90%;
    background: linear-gradient(180deg,#000000, #53346d);
    color: white;
    padding: 14px 20px;
    margin: 4px 5%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover
{
    background: linear-gradient(90deg,#000000, #53346d);
}

body
{
	font-family: "Arial", Times, serif;
	background: linear-gradient(145deg,#606c88, #3f4c6b);
}

img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p
{
	color:#330000;
	text-indent: 5%;
	text-transform: justify;
}

a:link
 {
    text-decoration: none;
}

a:visited
 {
    text-decoration: none;
}

td
{
	font-family: "Arial", Times, serif;
	font-size: 2vw;
	text-align: center;
	color: white;
}

tr.border_bottom td
{
  border-bottom:2pt solid black;
}

h4
{
	height:10%;
}
